.container {
    width: 30%;
    height: 500px;
    border: 2px;
    border-style: solid;
    border-color: rgb(197, 189, 189);
    margin-left: 550px;
    margin-top: 150px;
    border-radius: 8px;
    background: linear-gradient(#73b6d1, #f8c7c7);
    opacity: 0.9;
}

.container p {
    font-size: 50px;
}

input {
    width: 90%;
    height: 30px;
    margin: 25px;
    font-size: 20px;
}

button {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    font-size: large;
    margin-top: 40px;
    padding: 10px;
    background-color: rgba(95, 152, 179, 0.733);
}

button:hover {
    background-color: rgba(0, 102, 255, 0.479);
}